# Ignore Gradle project-specific cache directory
.gradle

gradle

# Ignore Gradle build output directory
build

# Ignore Intellij IDEA files
.idea
*.iws
*.iml
*.ipr

# production
/build

# misc
.DS_Store

/.idea/
/gradlew
/gradlew.bat
.graphqlconfig

/**/out/